:root
{
  font-family: 'Roboto';
  overflow: visible;
}

body
{
  overflow: hidden;
  min-width: 400px;
}

form
{
  width: 20vw;
  height: 40vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.3rem solid;
  border-radius: 1rem;
}

form input, form button
{
  margin: 0.2rem 0;
  padding: .5rem;
  border-radius: .3rem;
  width: fit-content;
}

button:hover
{
  cursor: pointer;
}

.primary
{
  background-color:rgb(35, 181, 207);
  padding: .5rem 2rem;
}

#context-menu
{
  display: none;
  position: absolute;
  background-color: white;
}

#app
{
  display: flex;
  
}

#channel-selector
{
  height: 98vh;
  border: 1px solid;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  width: 3.5rem;
}

#channel-selector::-webkit-scrollbar 
{
  display: none;
}

.overlay
{
  display: none;
  border: none;
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.close-btn
{
  align-self: flex-end;
  justify-self: start;
  width: 1.5rem !important;
  height: 1.5rem;
  border-radius: 100%;
  padding: 0;
}

#channel-form, #invite-form
{
  width: auto;
  height: auto;
  justify-content: center;
  align-items: start;
}

#channel-form button, #invite-form button
{
  width: 100%;
}

#channels
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#channels button
{
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  margin: 0.5rem 0;
}

#channels .selected
{
  background-color: rgb(190, 190, 190);
}

#message-container
{
  width: 98%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: space-around;
}

#channel-header
{
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 0 1rem;
}

#messages
{
  overflow-y: auto;
  height: calc(97vh - 4vh - 4vh);
}

.message
{
  padding-bottom: 1rem;
}

#message-input-container
{
  display: flex;
  flex-direction: row;
  height: 4vh;
}

.message-input
{
  padding: 1rem;
  display: flex;
  align-items: center;
}

#message-input
{
  width: 100%;
}


@media (orientation: portrait) and (max-width: 600px)
{
  form
  {
    width: auto;
    height: 40vh;
  }
}